@model IEnumerable<Lab2_DIS.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team_Leader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programmer1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programmer2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programmer3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team_Leader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programmer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programmer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programmer3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Team_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Team_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Team_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
